* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 20px;
    background-color: white;
}

body {
    background-color: rgb(235, 235, 235);
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
}

.logo {
    vertical-align: middle;
    margin-right: 20px;
}