* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* ==== TAG STYLES ==== */
header {
    padding: 20px;
    background-color: white;
}

body {
    background-color: rgb(235, 235, 235);
}

h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-weight: bold;
}

ul{
   list-style-type: none;
}
/* ====================== */

/* ==== CLASSI ==== */
.logo {
    vertical-align: middle;
    margin-right: 20px;
}

.top-main {
    width: 75%;
    margin: auto;
    margin-top: 50px;
    padding: 10px 0 10px 50px;
    border-radius: 5px;
    background-color: white;
}

.main-content {
    width: 75%;
    margin: auto;
    margin-top: 5px;
    padding-top: 50px;
    padding-left: 50px;
    border-radius: 5px;
    background-color: white;

}


.list-title{
    font-size: 2em;
    font-weight: bold;
}

.list-item {
    display: inline;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 20px;
    margin-left: 35px;
}

.icon {
    display: inline-block;
    text-align: center;
    height: 20px;
    width: 20px;
    color: green;
    border: 1px solid;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
}


/* ====stile bottoni==== */
.button {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 5px 20px;
}

.blu {
    background-color: dodgerblue;
    color: white;
}

.bianco {
    background-color: white;
    color: gray;
}
/* ==== ==== */